
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}
.navbar{
    background-color:rgba(26, 11, 46, 1);
    color:white;
    display: flex;
    width:100%;
    height:92px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar button{
    padding: 10px 20px;
    background:linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}
.banner{
    background-image: url(./assets/hero-bg.png);
    width:100%;
    height:760px;
    /* border:2px solid green; */
}
/* .banner{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
} */

.banner-circle-image{
    
    /* margin:30px 300px 310px 50px;
    padding:50px 70px 20px 10px; */
    text-align: center;
    display: flex;
    gap:40px;
    /* border:2px solid red; */
    /* width:500px;
    height: 500px; */
    align-items: center;  
    justify-content: flex-start;
    flex-direction: column;   
    color: white;
    position:absolute;  
    top:25%;
    left:42%;
    
}   
.banner-text-and-button{
    
}
.banner-image{
    position:absolute;  

    top:38%;
    left:50%;
    margin-bottom: 50px;
}
.banner-button{
    display:flex;
    margin-top:20px;
    /* border:2px solid white; */
    color:white;
    gap:20px;
    cursor: pointer;
    
    
}
#bb1{
    background:linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 10px;
    border:none;
    color:white;
    border-radius: 20px;
    display:flex;
    gap:5px;

}
#bb2{
    background-color: rgba(243, 245, 243, 0);
    padding: 10px 20px;
    /* border:2px solid green; */
    font-size: 16px;
    color:green;
    border-radius: 20px;
    display:flex;
    gap:5px;

}
.section-2{
    /* border:2px solid gold; */
    align-items: center;
    text-align: center;
    color:white;
    padding: 50px 20px;
    background-color: rgba(26, 11, 46, 1);

}
hr{
    width: 1200px;
    border: 1px solid rgba(196, 192, 192, 0.233);
    margin: 20px auto;
}
.ratings{
    display: flex;
    justify-content:space-evenly;
    margin-top: 15px;
    color:green;
}
.reaction p{
    color:white;
   
}
.grid-section{
    
    /* padding: 40px 70px 100px 50px; */
    /* border:2px solid rgb(21, 214, 11); */
    background-color:  rgb(18, 1, 40);
    
}
.grid-container{
    display: grid;
    max-width:1200px;
    height:700px;
    /* border:2px solid rgb(204, 37, 8); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin:auto;
    
    
}
.box-1{
    /* grid-column: span 2; */
    grid-row: span 2;
    border-radius: 15px;
    background-color:  rgba(26, 11, 46, 1);
    box-shadow: 0 4px 10px rgba(191, 200, 16, 0.2);
    padding :70px 50px;
    color:white;
}
.box-2{
    grid-column: span 2;
    border-radius: 15px;
    background-color: rgba(26, 11, 46, 1);
    box-shadow: 0 4px 10px rgba(191, 200, 16, 0.2);
    padding :7px 5px;
    color:white;
}
.box-3{
    grid-column: span 2;
    border-radius: 15px;
    background-color: rgba(26, 11, 46, 1);
    box-shadow: 0 4px 10px rgba(191, 200, 16, 0.2);
    padding :7px 5px;
    color:white;
}.box-4{
    grid-column: span 2;
    border-radius: 15px;
    background-color: rgba(26, 11, 46, 1);
    box-shadow: 0 4px 10px rgba(191, 200, 16, 0.2);
    padding :7px 5px;
    color:white;
}
.box-5{
    background-color: rgba(26, 11, 46, 1);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(191, 200, 16, 0.2);
    padding :7px 5px;
    color:white;
}

.card-with-iframe{
    width:100%;
    height: 950px;
    /* border:5px solid rgb(211, 42, 4); */
    background-color:  rgba(26, 11, 46, 1);
}
.card-section{
    /* border:2px solid orchid; */
    color :white;
    background-color:  rgba(26, 11, 46, 1);
    padding: 20px 50px 10px 100px;
    width: 100%;
    
   
}
.three-cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    gap:20px;
    
     margin-bottom:50px;
    /* flex-wrap: wrap; */
}
.card{
    /* border :2px solid rgb(32, 236, 9); */
    box-shadow: 0 4px 10px rgba(191, 200, 16, 0.2);
    border-radius: 15px;
    padding:5px;
}
.card-text{
    margin-top:10px;
    text-align: left;
    align-items: center;
    margin-left: 10px;
    margin-right: 80px;
}

.card-text h4{
    margin-top:10px;
    color:green;

}
.challenging-part{
    background-color: rgba(26, 11, 46, 1);
    text-align: center;
    padding: 50px 100px 100px 100px;
    /* border:3px solid yellow; */
   
}
.challange-heading{
    color:white;
    margin-bottom: 20px;
}
.challenging-content{
    color:white;
    /* border:2px solid rgb(175, 195, 23); */
    padding: 50px 170px;
    background-color: rgba(2, 2, 184, 0);
    border-radius: 40px;
    display:flex;
    gap:100px;
    box-shadow: 0 4px 10px rgba(191, 200, 16, 0.2)
}
.footer{
    background-image: url(./assets/footer-bg.png);
    width:100%;
    height: 350px;
    /* margin-bottom:70px; */

}
.footer-content{
    
    color:white;
    
    padding: 100px  ;

    /* border:3px solid orange; */
    
    
}
.footer ul{
   
    /* border:3px solid purple; */
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}


@media only screen and (max-width:576px){
    .navbar{
        width: 576px;
        display: flex;
       
        
    }
    .navbar button{
        display:none;
    }
    .navbar ul{
        flex-direction: column;
        gap: 10px;
        display:none;
        width: 440px;
    }   
    /* .section-2{
        padding: 30px 30px;
        justify-content: center;
        align-items: column;
        gap:10px;
        flex-wrap: wrap;
    }     */

    .banner{
        width: 576px;
        height: 566px;
        
    }
    .banner-circle-image{
        top:30%;
        left:20%;
        gap:20px;
        height:auto;
    }
    .banner-image{
        top:47%;
        left:40%;
        bottom: 20px;
        width: 200px;
    }
    .ratings{
         flex-direction: column; 
        gap: 15px;
        margin-top: 30px;
    }
    .ratings h2{
        color: #00FF88;
        font-size: 35px;
        font-weight: bolder;
    }
    .grid-container{
        padding:0px 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: auto;
        gap: 20px;
        margin:auto;
    }
    .card-with-iframe{
        height: 1750px;
        margin:auto;
        display: flex;
        flex-direction: column;
    }
    .three-cards{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .challenging-content{
        flex-direction: column;
        padding: 20px 30px;
        display:flex;
        gap:40px;
        box-shadow: 0 4px 10px rgba(191, 200, 16, 0.2)
    }
    .footer{
        background-image:url(./assets/footer-bg.png);
        width: 576px;
        height: auto;
        object-fit: cover;   
    }
    .footer-content{
        
        flex-direction: column;
        gap: 20px;
    }
}







@media (min-width: 577px) and (max-width: 992px) {

    .navbar{
        padding: 1rem;
    }

    .banner{
        height: auto;
        padding: 80px 40px;
    }

    .banner-circle-image{
        top: 20%;
        left: 30%;
        gap: 30px;
    }

    .banner-image{
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }

    .banner-button{
        gap: 15px;
    }
} 

