
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}
.navbar{
    background-color:rgba(26, 11, 46, 1);
    color:white;
    display: flex;
    width:100%;
    height:92px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar button{
    padding: 10px 20px;
    background:linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}
.banner{
    background-image: url(./assets/hero-bg.png);
    width:100%;
    height:760px;
    border:2px solid green;
}
/* .banner{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
} */

.banner-circle-image{
    
    /* margin:30px 300px 310px 50px;
    padding:50px 70px 20px 10px; */
    text-align: center;
    display: flex;
    gap:40px;
    border:2px solid red;
    /* width:500px;
    height: 500px; */
    align-items: center;  
    justify-content: flex-start;
    flex-direction: column;   
    color: white;
    position:absolute;  
    top:25%;
    left:42%;
    
}   
.banner-text-and-button{
    
}
.banner-image{
    position:absolute;  

    top:38%;
    left:50%;
    margin-bottom: 50px;
}
.banner-button{
    display:flex;
    margin-top:20px;
    /* border:2px solid white; */
    color:white;
    gap:20px;
    cursor: pointer;
    
    
}
#bb1{
    background:linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 10px;
    border:none;
    color:white;
    border-radius: 20px;
    display:flex;
    gap:5px;

}
#bb2{
    background-color: rgba(243, 245, 243, 0);
    padding: 10px 20px;
    border:2px solid green;
    font-size: 16px;
    color:green;
    border-radius: 20px;
    display:flex;
    gap:5px;

}
.section-2{
    border:2px solid gold;
    align-items: center;
    text-align: center;
    color:white;
    padding: 50px 20px;
    background-color: rgba(26, 11, 46, 1);

}
hr{
    width: 1200px;
    border: 1px solid rgba(196, 192, 192, 0.233);
    margin: 20px auto;
}
.reaction,.reaction-text{
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
    color:green;
}
.reaction-text{
    color:white;
}
.three-cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    gap:20px;
    border:2px red;
}
.card-section{
    border:2px solid orchid;
    color :white;
    background-color:  rgba(26, 11, 46, 1);
    padding: 20px 50px 10px 100px;
    
}














@media (max-width: 576px) {

    .navbar{
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .navbar ul{
        flex-direction: column;
        gap: 10px;
    }

    .banner{
        height: auto;
        padding: 50px 20px;
    }

    .banner-circle-image{
        position: static;
        gap: 20px;
        text-align: center;
    }

    .banner-image{
        position: static;
        width: 250px;
        margin: auto;
    }

    .banner-button{
        flex-direction: column;
        align-items: center;
    }

    #bb1, #bb2{
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 577px) and (max-width: 992px) {

    .navbar{
        padding: 1rem;
    }

    .banner{
        height: auto;
        padding: 80px 40px;
    }

    .banner-circle-image{
        top: 20%;
        left: 30%;
        gap: 30px;
    }

    .banner-image{
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }

    .banner-button{
        gap: 15px;
    }
}

